.works.circleup
   h4
      | Adaptive Emails:
      = " "
      span CircleUp
   a.example(href="http://fake id to be filled in")
      | Screenshots
   p
      | CircleUp needed responsive email templates for their
      | fundraising platform. We quickly employed the excellent
      | tools on Litmus to develop a series of internal and external hybrid emails.
   ul.technologies
      li Jade
      li Litmus
      li Node