.works.kawaihae
   h4
        | ECommerce:
        = " "
        span Kawaihae Card Company
   h6 Client: Kawaihae Cards
   a.example(href="shop.kawaihaecards.com")
      | shop.kawaihaecards.com
   p
      | Kawaihae Cards is a small card company on the Big Island of Hawaii.
      | They needed branding and an online store they could manage.
      | Using Shoppify and Sass we were able to quickly deploy an self
      | managed online store in a matter of weeks.
   ul.technologies
      li Shoppify
      li Sass