.works.otm
   h4
      | Angular :
      = " "
      span Twitter Own The Moment Calendar Builder
   a.example(href="https://twitter.twimg.com/ownthemoment")
      | twitter.twimg.com/ownthemoment
   p
      | A calendar application built into Salesforce & Eloqua
      | <a href="https://blog.twitter.com/2014/how-to-market-in-the-moment-on-twitter-au">
      | blog post on Twitter about it</a>. Built on Amazon Web Services for Twitter using Eloqua API, custom node modules and
      | grunt tasks to enable <a href="https://twitter.twimg.com/OwnTheMoment_JP" target="_blank">globalization</a>
      | of calendar for use by marketing teams.
   ul.technologies
      li AngularJS
      li Grunt
      li AWS
      li Eloqua/Salesforce
      li Node/NPM
      li SASS