.works.tweetkit
   h4
      | Hardware Integrations :
      = " "
      span Twitters Tweetkit
   a.example(href="http://tweetkit.co/")
      | tweetkit.co
   p
      | Working with LittleBits and <a href="http://labour-ny.com/" target="_blank">labour-ny</a>
      | we were tasked with rebranding and streamlining the WiFi configuration process for the
      | <a href="http://www.littlebits.cc" target="_blank">LittleBits</a> cloudBit. We created a
      | custom Wifi login client with Angular and Tweet mention watcher using Amazon AWS and some
      | choice NodeJS.
   ul.technologies
      li AngularJS
      li Grunt
      li AWS
      li LittleBits API
      li Node/NPM