.section.about-us
    .container
        .row
            .twelve.column
                h3.section-heading About Us

        .row
            .one-half.column
                h5 Paul Rangel
                img(src="img/paulSmall.jpg", width='25%', height='25%')
                p.about-us.paul Paul has been coding since graduating with a genetics degree and has worked for Adobe, Twitter and if you have watched TV online you've seen his code at work.
                h5 Ondine Rangel
                img(src="img/ondineSmall.jpg", width='25%', height='25%')
                p.about-us.ondine An artist turned programmer Ondine is a project manager extraordinaire with skills in illustration, design, and photo retouching.
            .one-half.column
                h4 Contact
                img(src="http://placehold.it/300")

                    