meta(charset="utf-8")
meta(name="author" content="Rangelworks - Supernatural web development.")
title Rangelworks - legendary web development
meta(name="description" content="Team of coders with super powers in Berkeley Ca.")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
link(href='//fonts.googleapis.com/css?family=Oleo+Script|Bitter:400,300,600' rel='stylesheet' type='text/css')
link(rel="stylesheet" type="text/css" href="css/style.css")
link(rel="shortcut icon" href="favicon.ico")
script(src="js/our-work.js")