.section.our-work
    .container
        .row
            .twelve.column
                h3.section-heading Our Work
        .row
            .twelve.column
                include our-work/kawaihae
                img(class='webproject' src="img/kawaihaeSml.png")
                include our-work/otm
                img(class='webproject' src="img/twittercal1Sml.png")
                include our-work/circleup
                img(class='webproject' src="img/circleUp.png")
                include our-work/tweetkit
                img(class='webproject' src="img/twitterbird1Sml.png")
