.section.values
    .container
        .row
            .column
                h4 Legendary web development
        .row
            .nine.columns.values

                p
                    | <a class="#about-us">We</a> are a team of designers, coders and storytellers in Berkeley California poised and ready
                    | to work on your projects. We have developed everything from responsive emails to complicated
                    | single page apps for top tier companys and are currently available for commission. Give us a call or email and lets get working...
                a.contact-us -Rangelworks

            .three.columns
                h5 Contact
                .current-project
                    .twitter @rangelworks
                    .email info@rangelworks.com
                    .phone 510 682.6819
                    .phone 510 508.5909

        .row
            .one-third.column
                h5 Design
                p
                    | We make a Angular and React webapps
            .one-third.column
                h5 Wordpress
                p
                    | We make a Angular and React webapps
            .one-third.column
                h5 Web Apps
                p
                    | We make a Angular and React webapps



